@{
    ViewData["Title"] = "Home Page";
}


<div id="app" class="row">
    <div class="entries-container">
        <div v-for="entry in entriesData">
            <div class="entry-title">
                <h1>{{entry.date }}</h1>
            </div>
            <div class="entries-content ">
                <div class="col-lg-5 players-container">
                    <div class="container-title">
                        Participants ({{entry.players.length}})
                    </div>
                    <div v-for="player in entry.players">
                        <div>{{player.name}}</div>
                    </div>
                </div>    
                <div class="col-lg-2">
                    <div>
                        £ {{entry.totalPrizePool}}
                    </div>
                </div>
                <div class="col-lg-5 standings-container">
                    <div class="container-title">
                        Prizes
                    </div>
                    <div v-for="recipient in entry.standings">
                        {{recipient.label}} : {{(entry.totalPrizePool / recipient.recipients) * recipient.proportion}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-lg-6">
                <div class="btn btn-primary">Show Rewards</div>
            </div>
            <div class="col-lg-6" v-if="entriesData != undefined">
                <div v-on:click="addToPlayers()" class="btn btn-primary">Enter</div>
            </div>
        </div>
    </div>

</div>





