@{
    ViewData["Title"] = "Home Page";
}


<div id="app" class="row">
    <div class="entries-container">
        <div v-for="entry in dummyData" class="holiday-card">
            <div class="card-title">
                <h1>{{entry.date }}</h1>
                <h2>{{entry.players }} </h2>
            </div>
        </div>
    </div>

</div>





