@{
    ViewData["Title"] = "Home Page";
}



<div id="app" class="row">
    <div class="entries-container">
        <div v-for="entry in entriesData">
            <div class="clock-container">
                <div class="clock-info">
                    <div class="entry-title">
                        <h1>{{entry.date }}</h1>
                    </div>
                    <div>
                        <div class="entry-prizePool">
                            Total prize pool <span class="prize-label">£{{entry.totalPrizePool.toLocaleString()}}</span>
                        </div>
                    </div>
                </div>
                <div class="clock-timerContainer">
                    <div class="clock-col clock-startsIn">
                        <p>Starts in </p>
                    </div>
                    <div class="clock-col">
                        <h4 class="clock-hours clock-timer">
                        </h4>
                        <p class="clock-label">
                            Hours
                        </p>
                    </div>
                    <div class="clock-col">
                        <h4 class="clock-minutes clock-timer">
                        </h4>
                        <p class="clock-label">
                            Minutes
                        </p>
                    </div>
                    <div class="clock-col">
                        <h4 class="clock-seconds clock-timer">
                        </h4>
                        <p class="clock-label">
                            Seconds
                        </p>
                    </div>
                </div>


            </div>
            <div class="entries-content ">
                <div class="col-lg-4 players-container">
                    <div class="container-title">
                        Participants ({{entry.players.length}})
                    </div>
                    <div class="players-list">
                        <div v-for="player in entry.players">
                            <div>{{player.name}}</div>
                        </div>
                    </div>
                </div>
   
                <div class="col-lg-4 standings-container">
                    <div class="container-title">
                        Prizes
                    </div>
                    <div class="standing-element" v-for="recipient in entry.standings">
                        <div v-if="recipient.proportion > 0">
                            {{recipient.recipientLabel}} : {{Math.round((entry.totalPrizePool / recipient.noRecipients) * recipient.proportion / 7)}}
                        </div>
                        <div v-else>
                            {{recipient.recipientLabel}} :
                            £{{recipient.proportion.sellingPrice}} - <a v-on:click="displayReward" class="view-reward-link"></a>
                        </div>
                        <div class="reward-popup">
                            <div>
                                Item: {{recipient.proportion.name}}
                            </div>
                            <div>
                                Selling Price: {{recipient.proportion.sellingPrice}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-lg-6 available-rewards-container">
                @*<div class="btn btn-primary" v-on:click="displayAvailableRewards">
                    Show Available Rewards
                </div>*@
                <div class="available-rewards-popup">
                    <div class="reward-instances-container">
                        <div class="col-lg-3 reward-instance" v-for="reward in dummyRewards">
                            <div>
                                <div class="reward-thumbnail">
                                    <img v-bind:src="reward.thumbnail" />
                                </div>
                            </div>
                            <div class="reward-description shadow">
                                <div class="reward-title">
                                    {{reward.name}}
                                </div>
                                <div class="reward-value">
                                    Shop price: £<span class="reward-price"> {{reward.sellingPrice}} </span>
                                </div>
                                <div class="reward-link-container">
                                    <span class="reward-link">
                                        <img src="~/images/stretch-icon.png" />
                                        Preview
                                    </span>
                                    <span class="reward-link">
                                        <img src="~/images/market-icon.png" />
                                        Market
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-6" v-if="entriesData != undefined">
                <div v-on:click="addToPlayers()" class="btn btn-primary">Enter</div>
            </div>
        </div>
    </div>

</div>





