@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("Partials/_Modals")
<div class="modal-fade"></div>


<div id="app" class="row">
    <div class="entries-container" v-cloak>
        <div v-for="entry in entriesData">
            <div class="entry-header">
                <div class="clock-container">
                    <div class="entry-game-logo">
                        <img class="logo-image" src="images/ClashofClans_Logo.png"/>
                        <img class="logo-title"src="images/ClashofClans_Title.png"/>
                    </div>
                    <div class="clock-info">
                        <div class="entry-title">
                            <h1>{{entry.date }}</h1>
                        </div>
                    </div>
                    <div class="clock-timerContainer">
                        <div class="clock-mid-section">
                            <div class="clock-col clock-timer clock-startsIn">
                                <p>Begins in </p>
                            </div>
                            <div class="clock-col">
                                <h4 class="clock-days clock-timer"></h4>
                                <p class="clock-label">
                                    Days
                                </p>
                            </div>
                            <div class="clock-col">
                                <h4 class="clock-hours clock-timer"></h4>
                                <p class="clock-label">
                                    Hours
                                </p>
                            </div>
                            <div class="clock-col">
                                <h4 class="clock-minutes clock-timer"></h4>
                                <p class="clock-label">
                                    Minutes
                                </p>
                            </div>
                            <div class="clock-col">
                                <h4 class="clock-seconds clock-timer"></h4>
                                <p class="clock-label">
                                    Seconds
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="entry-navbar">
                    <div id="openModal" v-if="entriesData != undefined">
                        <div class="entry-btn draw-border">INVESTMENTS</div>
                    </div>
                    <div class="entry-prizePool">
                        Total prize pool <span class="prize-label">£{{entry.totalPrizePool.toLocaleString()}}</span>
                    </div>
                    <div v-if="entriesData != undefined">
                        <div v-on:click="addToPlayers()" class="entry-btn draw-border">COMPETE</div>
                    </div>
                </div>
            </div>
            
            <div class="entries-content ">
                <div class="col-lg-4">
                    <div class="panel-container">
                        <h1>
                            <svg class="ico-cup">
                                <use xlink:href="#people"></use>
                            </svg>
                            Participants <span class="player-number"> {{entry.players.length}}</span>
                        </h1>
                        <div class="players-list">
                            <ol>
                                <li v-for="player in entry.players">
                                    <mark>{{player.name}}</mark>
                                </li>
                            </ol>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel-container prizes-container">
                        <h1>
                            <svg class="ico-cup">
                                <use xlink:href="#cup"></use>
                            </svg>
                            Prizes
                        </h1>
                        <div class="standings-container">
                            <ol>
                                <li class="standing-element no-hover elem" v-for="recipient in entry.standings">
                                    <mark v-if="recipient.proportion > 0">
                                        {{recipient.recipientLabel}}
                                        <span class="reward-price-label"> £{{Math.round((entry.totalPrizePool / recipient.noRecipients) * recipient.proportion / 7).toLocaleString()}}</span>

                                    </mark>
                                    <mark v-else>
                                        {{recipient.recipientLabel}}
                                        <span class="reward-price-label"> <span class="in-game-rewards-label">In-game rewards worth </span>£{{recipient.proportion.sellingPrice}} </span>

                                    </mark>
                                </li>
                            </ol>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel-container rewards-container">
                        <h1>
                            <svg class="ico-cup">
                                <use xlink:href="#chest"></use>
                            </svg>
                            Available rewards
                        </h1>
                        <div class=" available-rewards-container">
                            <div class="available-rewards-popup">
                                <div class="reward-instances-container">
                                    <div class="rewards-type-title">
                                        <h1>Cryptocurrency</h1>
                                    </div>
                                    <div class="col-lg-3 reward-instance" v-for="reward in dummyRewards" v-if="reward.type == 'crypto'">
                                        <div class="reward-thumbnail">
                                            <img v-bind:src="reward.thumbnail"/>
                                        </div>
                                        <div class="reward-description">
                                            <div class="reward-title">
                                                {{reward.name}}
                                            </div>
                                            <div class="reward-value">
                                                Valued at: <span class="reward-price"> {{reward.sellingPrice}} </span>
                                            </div>
                                            <div class="reward-link-container">
                                                <span class="reward-link">
                                                    <img src="~/images/market-icon.png"/>
                                                    Market
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="rewards-type-title">
                                        <h1>Skins</h1>
                                    </div>
                                    <div class="col-lg-3 reward-instance" v-for="reward in dummyRewards" v-if="reward.type == 'skin'">
                                        <div class="reward-thumbnail">
                                            <img v-bind:src="reward.thumbnail"/>
                                        </div>
                                        <div class="reward-description">
                                            <div class="reward-title">
                                                {{reward.name}}
                                            </div>
                                            <div class="reward-value">
                                                Shop price: £<span class="reward-price"> {{reward.sellingPrice}} </span>
                                            </div>
                                            <div class="reward-link-container">
                                                <span class="reward-link">
                                                    <img src="~/images/stretch-icon.png"/>
                                                    Preview
                                                </span>
                                                <span class="reward-link">
                                                    <img src="~/images/market-icon.png"/>
                                                    Market
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="rewards-type-title">
                                        <h1>Chests</h1>
                                    </div>
                                    <div class="col-lg-3 reward-instance" v-for="reward in dummyRewards" v-if="reward.type == 'chest'">
                                        <div class="reward-thumbnail">
                                            <img v-bind:src="reward.thumbnail"/>
                                        </div>
                                        <div class="reward-description">
                                            <div class="reward-title">
                                                {{reward.name}}
                                            </div>
                                            <div class="reward-value">
                                                Shop price: £<span class="reward-price"> {{reward.sellingPrice}} </span>
                                            </div>
                                            <div class="reward-link-container">
                                                <span class="reward-link">
                                                    <img src="~/images/stretch-icon.png"/>
                                                    Preview
                                                </span>
                                                <span class="reward-link">
                                                    <img src="~/images/market-icon.png"/>
                                                    Market
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>



</div>


<svg style="display: none;">
    <symbol id="people" x="0px" y="0px"
            width="25" height="26" viewBox="0 0 80 60" enable-background="new 0 0 25 26">
        >
        <path fill="#F26856" d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112
		c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984
		c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984
		z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263
		c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833
		C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088
		c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699
		C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276
		c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752
		C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032
		c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265
		c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z" />
    </symbol>
</svg>

<svg style="display: none;">
    <symbol id="close" x="0px" y="0px"
            width="25px" height="26px" viewBox="0 0 50 50" enable-background="new 0 0 25 26" xml:space="preserve">
        <circle style="fill:#F26856;" cx="25" cy="25" r="25"/>
        <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,34 25,25 34,16 
	"/>
        <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,16 25,25 34,34 
	"/>
      </symbol>
</svg>



<svg style="display: none;">
    <symbol id="cup" x="0px" y="0px"
            width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve">
<path fill="#F26856" d="M21.215,1.428c-0.744,0-1.438,0.213-2.024,0.579V0.865c0-0.478-0.394-0.865-0.88-0.865H6.69
	C6.204,0,5.81,0.387,5.81,0.865v1.142C5.224,1.641,4.53,1.428,3.785,1.428C1.698,1.428,0,3.097,0,5.148
	C0,7.2,1.698,8.869,3.785,8.869h1.453c0.315,0,0.572,0.252,0.572,0.562c0,0.311-0.257,0.563-0.572,0.563
	c-0.486,0-0.88,0.388-0.88,0.865c0,0.478,0.395,0.865,0.88,0.865c0.421,0,0.816-0.111,1.158-0.303
	c0.318,0.865,0.761,1.647,1.318,2.31c0.686,0.814,1.515,1.425,2.433,1.808c-0.04,0.487-0.154,1.349-0.481,2.191
	c-0.591,1.519-1.564,2.257-2.975,2.257H5.238c-0.486,0-0.88,0.388-0.88,0.865v4.283c0,0.478,0.395,0.865,0.88,0.865h14.525
	c0.485,0,0.88-0.388,0.88-0.865v-4.283c0-0.478-0.395-0.865-0.88-0.865h-1.452c-1.411,0-2.385-0.738-2.975-2.257
	c-0.328-0.843-0.441-1.704-0.482-2.191c0.918-0.383,1.748-0.993,2.434-1.808c0.557-0.663,1-1.445,1.318-2.31
	c0.342,0.192,0.736,0.303,1.157,0.303c0.486,0,0.88-0.387,0.88-0.865c0-0.478-0.394-0.865-0.88-0.865
	c-0.315,0-0.572-0.252-0.572-0.563c0-0.31,0.257-0.562,0.572-0.562h1.452C23.303,8.869,25,7.2,25,5.148
	C25,3.097,23.303,1.428,21.215,1.428z M5.238,7.138H3.785c-1.116,0-2.024-0.893-2.024-1.99c0-1.097,0.908-1.99,2.024-1.99
	c1.117,0,2.025,0.893,2.025,1.99v2.06C5.627,7.163,5.435,7.138,5.238,7.138z M18.883,21.717v2.553H6.118v-2.553H18.883
	L18.883,21.717z M13.673,18.301c0.248,0.65,0.566,1.214,0.947,1.686h-4.24c0.381-0.472,0.699-1.035,0.947-1.686
	c0.33-0.865,0.479-1.723,0.545-2.327c0.207,0.021,0.416,0.033,0.627,0.033c0.211,0,0.42-0.013,0.627-0.033
	C13.195,16.578,13.344,17.436,13.673,18.301z M12.5,14.276c-2.856,0-4.93-2.638-4.93-6.273V1.73h9.859v6.273
	C17.43,11.638,15.357,14.276,12.5,14.276z M21.215,7.138h-1.452c-0.197,0-0.39,0.024-0.572,0.07v-2.06
	c0-1.097,0.908-1.99,2.024-1.99c1.117,0,2.025,0.893,2.025,1.99C23.241,6.246,22.333,7.138,21.215,7.138z" />

      </symbol>
</svg>

<svg style="display: none;">
    <symbol id="chest" x="0px" y="0px"
            width="25px" height="26px" viewBox="0 0 512 512" enable-background="new 0 0 25 26" xml:space="preserve">
<path fill="#F26856" d="m512 95c0-52.382812-42.617188-95-95-95h-322c-52.382812 0-95 42.617188-95 95v4.914062l81.21875 110.644532c-1.050781.789062-2.25 1.375-3.542969 1.699218-25.300781 6.355469-45.238281 25.363282-53.074219 49.742188h-24.601562v250h512v-250h-24.605469c-8.304687-25.730469-30.109375-45.140625-56.574219-50.5l81.179688-111.621094zm-108.046875 102.4375c-14.125-17.148438-35.429687-27.4375-57.953125-27.4375-7.710938 0-15.324219 1.171875-22.625 3.480469-2.390625.753906-4.863281.027343-6.164062-1.808594-14.054688-19.832031-36.9375-31.671875-61.210938-31.671875-19.726562 0-38.355469 7.601562-52.449219 21.40625-1.804687 1.765625-4.554687 2.101562-6.539062.800781-12.203125-7.984375-26.382813-12.207031-41.011719-12.207031-25.269531 0-45.96875 10.9375-59.46875 30.726562l-51.914062-70.726562h422.925781zm-308.953125-167.4375h322c30.679688 0 56.445312 21.371094 63.234375 50h-448.472656c6.792969-28.632812 32.558593-50 63.238281-50zm387 452h-452v-190h181v90h90v-90h181zm-241-190h30v60h-30zm213.675781-30h-397.378906c6.003906-10.109375 15.871094-17.675781 27.6875-20.644531 13.507813-3.394531 24.460937-13.808594 28.585937-27.175781 6.996094-22.679688 21.269532-34.179688 42.429688-34.179688 8.777344 0 17.277344 2.527344 24.578125 7.308594 13.6875 8.957031 32.175781 7.078125 43.960937-4.464844 8.457032-8.28125 19.628907-12.84375 31.460938-12.84375 14.5625 0 28.292969 7.109375 36.730469 19.019531 8.871093 12.515625 24.824219 17.769531 39.691406 13.066407 4.371094-1.386719 8.9375-2.085938 13.578125-2.085938 15.855469 0 30.71875 8.503906 38.785156 22.1875 6.480469 10.992188 18.375 17.816406 31.039063 17.8125h.042969.132812c16.246094 0 30.757812 8.753906 38.675781 22zm0 0" />



</symbol>
</svg>

