.available-rewards-container {
    position: relative;

    .available-rewards-popup {
        position: relative;
        display: block;
        background-color: pink;
        height: 200px;
        width: 460px;

        .reward-instances-container {
            padding-top: 20px;

            .reward-instance {
                display: inline-block;
                height: 100px;

                .reward-thumbnail {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }

                .reward-description {
                    background-color: navajowhite;
                    display: none;
                    position: absolute;
                    top: 55px;
                    width: 200px;
                    z-index: 1;
                    left: -43px;
                    border-radius: 5px;
                    padding: 5px;
                    -webkit-box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);
                    -moz-box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);
                    box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);


                    .reward-title {
                    }

                    .reward-value {
                        margin-bottom: 10px;

                        .reward-price {
                            color: orangered;
                        }
                    }

                    .reward-link-container {
                        .reward-link {
                            cursor: pointer;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}
