#landingPage {
    .cont_princ_lists {
        position: absolute;
        left: 33%;
        top: 18%;
        width: 650px;
        border-radius: 5px;
        padding: 15px;
        background: linear-gradient(to bottom, #3a404d, #181c26);
        z-index: 99999;
        margin-bottom: 50px;

        .tabContent {
            display: none;
            overflow-y: visible;
        }

        #tab-players {
            display: block;
        }

        .modal-tabs {
            display: flex;
            flex-wrap: wrap;

            .modal-button {
                margin-right: 15px;
                color: white;
                padding: 10px;
                cursor: pointer;


                &#modal-close {
                    margin-left: 205px;
                }

                &.selected {
                    border-bottom: 1px solid #F26856;
                    color: #F26856;
                }

                .ico-cup {
                    width: 25px;
                    height: 26px;
                    position: relative;
                    top: 3px;
                    margin-right: 6px;
                    vertical-align: baseline;
                }

                div {
                    display: inline-block;
                }

                .modal-icon {
                    display: inline-block;
                }
            }
        }

        .investors-list {
            height: 600px;

            .investor-element {
                position: relative;
                float: left;
                width: 100%;
                /*border: 1px solid white;*/
                height: 75px;
                left: 0;
                /*background-color: #F1F1EF;*/
                list-style: none;
                /*box-shadow: 1px 10px 20px 0px rgba(218, 215, 206,0.8);*/
                z-index: 2;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
            }
        }

        .col_md_1_list {
            width: 125px;
            position: relative;
            float: left;
            height: 20px;
            top: 50%;
            margin-top: -10px;

            img {
                width: 100px;

            }
        }

        .col_md_2_list {
            width: 250px;
            position: relative;
            float: left;
            margin-top: 20px;

            h4 {
                text-align: left;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 700;
                color: white;
            }

            p {
                text-align: left;
                font-family: 'Open Sans', sans-serif;
                font-size: 10px;
                font-weight: 700;
                color: #999;
            }
        }

        .col_md_3_list {
            width: 121px;
            position: relative;
            float: left;
            height: 14px;
            top: 50%;
            margin-top: -10px;

            .entry-btn {
                font-size: 12px;

                &.draw-border {
                    box-shadow: inset 0 0 0 2px #F26856;
                }
            }

            .cont_text_date {
                text-align: right;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 700;

                p {
                    text-align: right;
                    margin-right: 20px;
                }
            }
        }
    }
}
