/*@import "Leaderboard.scss";*/

@import "ClockContainer.scss";
@import "PanelContainer.scss";
@import "AvailableRewardsContainer.scss";
@import "FancyButton.scss";
@import "Modals.scss";
@import "SubmitButton.scss";
@import "LandingPage.scss";

[v-cloak] {
    display:none;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgrey;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    width: calc(100% - 500px) !important;

    .entry-header {
        background-color: #080808;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;
        width: calc(100% + 500px);
        margin-left: -250px;
        box-shadow: 1px 1px 5px rgba(255,255,255,.15), 0 15px 90px 30px rgba(0,0,0,.25);
    }

    .entries-container {
        .entry-title {
            color: #F26856;
            margin-left: 40%;
        }

        .entry-navbar {
            display: flex;
            margin-left: 16%;
        }

        .entry-prizePool {
            font-size: 18px;
            color: #fff;
            margin-left: 21%;
            margin-right: 21%;


            .prize-label {
                color: #F26856;
                font-size: 36px;
            }
        }


        .entry-enterBtn {
            padding: 6px 100px;
            font-size: 24px;
        }
    }
    /*.enter-btn {
        margin-left:150px;
    }*/
}
