/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.clock {
    &-day {
        &:before {
            content: var(--timer-day);
        }
    }

    &-hours {
        &:before {
            content: var(--timer-hours);
        }
    }

    &-minutes {
        &:before {
            content: var(--timer-minutes);
        }
    }

    &-seconds {
        &:before {
            content: var(--timer-seconds);
        }
    }
}

.clock {
    &-container {
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #080808;
        border-radius: 5px;
        padding: 60px 20px;
        box-shadow: 1px 1px 5px rgba(255,255,255,.15), 0 15px 90px 30px rgba(0,0,0,.25);
        display: flex;
    }

    &-col {
        text-align: center;
        margin-right: 40px;
        margin-left: 40px;
        min-width: 90px;
        position: relative;

        &:not(:last-child):before,
        &:not(:last-child):after {
            content: "";
            background-color: rgba(255,255,255,.3);
            height: 5px;
            width: 5px;
            border-radius: 50%;
            display: block;
            position: absolute;
            right: -42px;
        }

        &:not(:last-child):before {
            top: 35%;
        }

        &:not(:last-child):after {
            top: 50%;
        }
    }

    &-timer {
        &:before {
            color: #fff;
            font-size: 4.2rem;
            text-transform: uppercase;
        }
    }

    &-label {
        color: rgba(255,255,255,.35);
        text-transform: uppercase;
        font-size: .7rem;
        margin-top: 10px;
    }
}

.container {
    /*width: calc(100% - 1200px) !important;*/
    #app {
        margin-top: 100px;
    }

    .entries-container {
        text-align: center;
        //https://codepen.io/icebob/pen/JYoQZg/
        //https://codepen.io/eehayman/pen/jVPKpN
        //https://codepen.io/gau/pen/LjQwGp

        #contador {
        }

        .available-rewards-container {
            position: relative;

            .available-rewards-popup {
                position: relative;
                display: block;
                background-color: pink;
                height: 200px;
                width: 460px;

                .reward-instances-container {
                    padding-top: 20px;


                    .reward-instance {
                        display: inline-block;
                        height: 100px;

                        .reward-thumbnail {
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }

                        .reward-description {
                            background-color: navajowhite;
                            display: none;
                            position: absolute;
                            top: 55px;
                            width: 200px;
                            z-index: 1;
                            left: -43px;
                            border-radius: 5px;
                            padding: 5px;
                            -webkit-box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);
                            -moz-box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);
                            box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);


                            .reward-title {
                            }

                            .reward-value {
                                margin-bottom: 10px;

                                .reward-price {
                                    color: orangered;
                                }
                            }

                            .reward-link-container {
                                .reward-link {
                                    cursor: pointer;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .entries-content {
            height: 350px;

            .container-title {
                font-size: 14px;
                font-weight: bold;
            }

            .players-container {
                .players-list {
                    height: 300px;
                    overflow-y: scroll;
                }
            }

            .standings-container {
                .standing-element {
                    position: relative;
                    user-select: none;

                    .view-reward-link {
                        text-decoration: underline;
                        color: red;
                        cursor: pointer;

                        &:before {
                            content: "View Reward";
                        }

                        &.open {
                            &:before {
                                content: "Hide Reward";
                            }
                        }
                    }

                    .reward-popup {
                        background-color: mediumpurple;
                        position: absolute;
                        display: none;
                        bottom: 20px;
                        left: 80px;
                        width: 200px;
                        height: 100px;
                    }
                }
            }
        }
    }
}
