/*@import "Leaderboard.scss";*/
.clock-container {
  /*background-color: #080808;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;
        width: calc(100% + 500px);
        margin-left: -250px;*/
  /*box-shadow: 1px 1px 5px rgba(255,255,255,.15), 0 15px 90px 30px rgba(0,0,0,.25);*/ }
  .clock-container .entry-game-logo img {
    position: absolute;
    width: 200px;
    left: 16%; }
    .clock-container .entry-game-logo img.logo-title {
      top: 185px; }

.clock-timerContainer {
  display: flex;
  margin-left: 28%; }
  .clock-timerContainer .clock-mid-section {
    margin: 0px 240px;
    display: flex;
    margin-bottom: 50px; }
    .clock-timerContainer .clock-mid-section div {
      font-size: 16px; }

.clock-col {
  text-align: center;
  margin-right: 8px;
  font-size: 16px;
  min-width: 50px;
  position: relative; }

.clock-startsIn {
  color: #fff;
  margin-top: 8px; }

.clock-timer {
  color: #fff; }
  .clock-timer:before {
    color: #fff;
    font-size: 4.2rem;
    text-transform: uppercase; }

.clock-label {
  color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  font-size: 12px; }

.panel-container {
  position: relative;
  /*width: 415px;*/
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  z-index: 40;
  color: white; }
  .panel-container.rewards-container {
    /*width: 300px;
        height:200px;*/ }
  .panel-container.prizes-container {
    padding-bottom: 15px; }
    .panel-container.prizes-container .in-game-rewards-label {
      color: #f26856;
      font-size: 12px;
      margin-right: 15px; }
  .panel-container .player-number {
    float: right;
    padding-top: 11px;
    margin-right: 80px; }
  .panel-container .players-list {
    height: 404px;
    overflow-y: scroll;
    overflow-x: hidden; }
  .panel-container .standings-container .no-recipients {
    color: #7cfc00;
    font-size: 12px;
    position: absolute;
    right: 30px; }
  .panel-container .standings-container .no-hover {
    pointer-events: none; }
  .panel-container .standings-container .reward-price-label {
    float: right;
    margin-right: 80px; }
  .panel-container .info-pop-up {
    display: none;
    background-color: #00ABA7;
    position: absolute;
    top: 90px;
    width: 300px;
    z-index: 9;
    right: 55px;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75); }
    .panel-container .info-pop-up:after {
      content: "";
      width: 20px;
      height: 20px;
      transform: rotate(-45deg);
      background: #00ABA7;
      position: absolute;
      /*box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);*/
      z-index: -1;
      top: 30px;
      right: -3%; }
  .panel-container svg {
    width: 25px;
    height: 26px;
    position: relative;
    top: 3px;
    margin-right: 6px;
    vertical-align: baseline; }
    .panel-container svg#question {
      cursor: pointer;
      top: -50px;
      float: right;
      right: 14px; }
  .panel-container h1 {
    font-size: 18px;
    color: #e1e1e1;
    padding: 12px 13px 18px; }
  .panel-container ol {
    padding: 0px !important;
    list-style-type: none; }
    .panel-container ol .standing-element {
      position: relative;
      user-select: none;
      height: 36px;
      padding: 18px 18px 10px 50px; }
      .panel-container ol .standing-element .view-reward-link {
        text-decoration: underline;
        color: red;
        cursor: pointer; }
        .panel-container ol .standing-element .view-reward-link:before {
          content: "View Reward"; }
        .panel-container ol .standing-element .view-reward-link.open:before {
          content: "Hide Reward"; }
      .panel-container ol .standing-element .reward-popup {
        background-color: mediumpurple;
        position: absolute;
        display: none;
        bottom: 20px;
        left: 80px;
        width: 200px;
        height: 100px; }
    .panel-container ol li:nth-child(1) {
      /*&::before, &::after{
                    opacity: 1;
                }*/ }
      .panel-container ol li:nth-child(1).elem mark {
        color: #303543;
        font-weight: bold; }
        .panel-container ol li:nth-child(1).elem mark::before, .panel-container ol li:nth-child(1).elem mark::after {
          opacity: 1;
          border-top: 10px solid #84610b; }
      .panel-container ol li:nth-child(1).elem::after {
        opacity: 1;
        background-color: #caa30f;
        transform: scaleX(1.06) scaleY(1.03); }
    .panel-container ol li {
      position: relative;
      z-index: 1;
      font-size: 14px;
      padding: 18px 10px 18px 50px;
      cursor: pointer;
      transform: translateZ(0) scale(1, 1);
      /*&::before {
                position: absolute;
                z-index: 2;
                top: 15px;
                left: 15px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                color: #c24448;
                background: #fff;
                border-radius: 20px;
                text-align: center;
            }*/ }
      .panel-container ol li mark {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 18px 10px 18px 50px;
        margin: 0;
        background: none;
        color: #fff; }
        .panel-container ol li mark::before, .panel-container ol li mark::after {
          content: '';
          position: absolute;
          z-index: 1;
          left: -11px;
          border-top: 10px solid #c24448;
          border-left: 11px solid transparent;
          transition: all .1s ease-in-out;
          opacity: 0;
          bottom: -19px; }
        .panel-container ol li mark::after {
          left: auto;
          right: -9px;
          border-left: none;
          border-right: 10px solid transparent; }
      .panel-container ol li::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 9px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fa6855;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
        transition: all .3s ease-in-out;
        opacity: 0; }
    .panel-container ol li:hover {
      z-index: 2;
      overflow: visible; }
      .panel-container ol li:hover::after {
        opacity: 1;
        transform: scaleX(1.06) scaleY(1.03); }
      .panel-container ol li:hover mark::before, .panel-container ol li:hover mark::after {
        opacity: 1;
        transition: all .35s ease-in-out; }

.available-rewards-container {
  position: relative; }
  .available-rewards-container .available-rewards-popup {
    /*height: 200px;
        width: 460px;*/ }
    .available-rewards-container .available-rewards-popup .reward-instances-container {
      display: flex;
      flex-wrap: wrap;
      padding: 15px 28px; }
      .available-rewards-container .available-rewards-popup .reward-instances-container .rewards-type-title {
        flex: 0 0 100%; }
        .available-rewards-container .available-rewards-popup .reward-instances-container .rewards-type-title h1 {
          padding: 0;
          margin: 0;
          padding-bottom: 10px; }
      .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance {
        /*display: inline-block;
                height: 100px;*/
        flex-basis: 95px;
        padding-left: 10px;
        padding-bottom: 25px;
        color: #F26856;
        text-align: center; }
        .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-thumbnail img {
          width: 80px;
          height: 80px; }
        .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description {
          background-color: #00ABA7;
          display: none;
          position: absolute;
          top: 95px;
          width: 200px;
          z-index: 1;
          left: -45px;
          border-radius: 5px;
          padding: 5px;
          color: #000;
          -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75); }
          .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description:after {
            content: "";
            width: 20px;
            height: 20px;
            transform: rotate(-45deg);
            background: #00ABA7;
            position: absolute;
            /*box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);*/
            z-index: -1;
            top: -10px;
            left: calc(50% - 10px); }
          .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description .reward-title {
            color: #5646a3; }
          .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description .reward-value {
            margin-bottom: 10px; }
            .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description .reward-value .reward-price {
              color: #5646a3;
              font-weight: bold; }
          .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description .reward-link-container .reward-link {
            cursor: pointer;
            margin-right: 5px; }

.draw-border {
  box-shadow: inset 0 0 0 4px #F26856;
  color: #F26856;
  transition: color 0.25s 0.08333s;
  position: relative; }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0; }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px; }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px; }
  .draw-border:hover {
    color: #87D37C; }
    .draw-border:hover::before, .draw-border:hover::after {
      border-color: #87D37C;
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%; }
    .draw-border:hover::before {
      transition-delay: 0s, 0s, 0.25s; }
    .draw-border:hover::after {
      transition-delay: 0s, 0.25s, 0s; }

.entry-btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 15px 20px;
  letter-spacing: 0.05rem;
  font-size: 12px;
  width: 175px;
  text-align: center; }
  .entry-btn:focus {
    outline: 2px dotted #55d7dc; }

.modal-fade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 2000;
  opacity: 0.8;
  display: none; }

#myModal {
  display: none; }

.cont_princ_lists {
  position: absolute;
  left: 33%;
  top: 18%;
  width: 650px;
  margin-top: 15px;
  border-radius: 5px;
  padding: 15px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  z-index: 99999; }
  .cont_princ_lists .tabContent {
    display: none;
    overflow-y: scroll; }
  .cont_princ_lists #tab-players {
    display: block; }
  .cont_princ_lists .modal-tabs {
    display: flex;
    flex-wrap: wrap; }
    .cont_princ_lists .modal-tabs .modal-button {
      margin-right: 15px;
      color: white;
      padding: 10px;
      cursor: pointer; }
      .cont_princ_lists .modal-tabs .modal-button#modal-close {
        margin-left: 205px; }
      .cont_princ_lists .modal-tabs .modal-button.selected {
        border-bottom: 1px solid #F26856;
        color: #F26856; }
      .cont_princ_lists .modal-tabs .modal-button .ico-cup {
        width: 25px;
        height: 26px;
        position: relative;
        top: 3px;
        margin-right: 6px;
        vertical-align: baseline; }
      .cont_princ_lists .modal-tabs .modal-button div {
        display: inline-block; }
      .cont_princ_lists .modal-tabs .modal-button .modal-icon {
        display: inline-block; }
  .cont_princ_lists .investors-list {
    height: 600px; }
    .cont_princ_lists .investors-list .investor-element {
      position: relative;
      float: left;
      width: 100%;
      /*border: 1px solid white;*/
      height: 75px;
      left: 0;
      /*background-color: #F1F1EF;*/
      list-style: none;
      /*box-shadow: 1px 10px 20px 0px rgba(218, 215, 206,0.8);*/
      z-index: 2;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
  .cont_princ_lists .col_md_1_list {
    width: 125px;
    position: relative;
    float: left;
    height: 20px;
    top: 50%;
    margin-top: -10px; }
    .cont_princ_lists .col_md_1_list p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 700;
      margin-left: 10px; }
  .cont_princ_lists .col_md_2_list {
    width: 250px;
    position: relative;
    float: left;
    margin-top: 20px; }
    .cont_princ_lists .col_md_2_list h4 {
      text-align: left;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 700;
      color: white; }
    .cont_princ_lists .col_md_2_list p {
      text-align: left;
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
      font-weight: 700;
      color: #999; }
  .cont_princ_lists .col_md_3_list {
    width: 121px;
    position: relative;
    float: left;
    height: 14px;
    top: 50%;
    margin-top: -10px; }
    .cont_princ_lists .col_md_3_list .entry-btn {
      font-size: 12px; }
      .cont_princ_lists .col_md_3_list .entry-btn.draw-border {
        box-shadow: inset 0 0 0 2px #F26856; }
    .cont_princ_lists .col_md_3_list .cont_text_date {
      text-align: right;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 700; }
      .cont_princ_lists .col_md_3_list .cont_text_date p {
        text-align: right;
        margin-right: 20px; }

.list_dsp_none {
  display: none;
  opacity: 0;
  margin-top: 20px; }

.list_dsp_true {
  margin: 0px;
  opacity: 1; }

.list_work {
  z-index: 1; }

.list_shopping > .col_md_1_list {
  border-left: 4px solid #7cfc00;
  color: #7cfc00; }

.list_work > .col_md_1_list {
  border-left: 4px solid #2A476B;
  color: #2A476B; }

.list_sport > .col_md_1_list {
  border-left: 4px solid #EF8A18;
  color: #EF8A18; }

.list_music > .col_md_1_list {
  border-left: 4px solid #EE1E65;
  color: #EE1E65; }

.list_finish_state {
  opacity: 0.3;
  margin: 15px 0px;
  z-index: 1; }

.submit-button {
  background-color: #3e3f4c;
  width: 220px;
  height: 60px;
  border-radius: 60px;
  color: #1fcd97;
  cursor: pointer;
  text-align: center;
  border: solid 5px #1fcd97; }
  .submit-button p {
    font-size: 20px;
    margin: 0;
    padding-top: 16px; }

#landingPage .cont_princ_lists {
  position: absolute;
  left: 33%;
  top: 18%;
  width: 650px;
  border-radius: 5px;
  padding: 15px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  z-index: 99999;
  margin-bottom: 50px; }
  #landingPage .cont_princ_lists .tabContent {
    display: none;
    overflow-y: visible; }
  #landingPage .cont_princ_lists #tab-players {
    display: block; }
  #landingPage .cont_princ_lists .modal-tabs {
    display: flex;
    flex-wrap: wrap; }
    #landingPage .cont_princ_lists .modal-tabs .modal-button {
      margin-right: 15px;
      color: white;
      padding: 10px;
      cursor: pointer; }
      #landingPage .cont_princ_lists .modal-tabs .modal-button#modal-close {
        margin-left: 205px; }
      #landingPage .cont_princ_lists .modal-tabs .modal-button.selected {
        border-bottom: 1px solid #F26856;
        color: #F26856; }
      #landingPage .cont_princ_lists .modal-tabs .modal-button .ico-cup {
        width: 25px;
        height: 26px;
        position: relative;
        top: 3px;
        margin-right: 6px;
        vertical-align: baseline; }
      #landingPage .cont_princ_lists .modal-tabs .modal-button div {
        display: inline-block; }
      #landingPage .cont_princ_lists .modal-tabs .modal-button .modal-icon {
        display: inline-block; }
  #landingPage .cont_princ_lists .investors-list {
    height: 600px; }
    #landingPage .cont_princ_lists .investors-list .investor-element {
      position: relative;
      float: left;
      width: 100%;
      /*border: 1px solid white;*/
      height: 75px;
      left: 0;
      /*background-color: #F1F1EF;*/
      list-style: none;
      /*box-shadow: 1px 10px 20px 0px rgba(218, 215, 206,0.8);*/
      z-index: 2;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
  #landingPage .cont_princ_lists .col_md_1_list {
    width: 125px;
    position: relative;
    float: left;
    height: 20px;
    top: 50%;
    margin-top: -10px; }
    #landingPage .cont_princ_lists .col_md_1_list img {
      width: 100px; }
  #landingPage .cont_princ_lists .col_md_2_list {
    width: 250px;
    position: relative;
    float: left;
    margin-top: 20px; }
    #landingPage .cont_princ_lists .col_md_2_list h4 {
      text-align: left;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 700;
      color: white; }
    #landingPage .cont_princ_lists .col_md_2_list p {
      text-align: left;
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
      font-weight: 700;
      color: #999; }
  #landingPage .cont_princ_lists .col_md_3_list {
    width: 121px;
    position: relative;
    float: left;
    height: 14px;
    top: 50%;
    margin-top: -10px; }
    #landingPage .cont_princ_lists .col_md_3_list .entry-btn {
      font-size: 12px; }
      #landingPage .cont_princ_lists .col_md_3_list .entry-btn.draw-border {
        box-shadow: inset 0 0 0 2px #F26856; }
    #landingPage .cont_princ_lists .col_md_3_list .cont_text_date {
      text-align: right;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 700; }
      #landingPage .cont_princ_lists .col_md_3_list .cont_text_date p {
        text-align: right;
        margin-right: 20px; }

[v-cloak] {
  display: none; }

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: lightgrey; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.container {
  width: calc(100% - 500px) !important;
  /*.enter-btn {
        margin-left:150px;
    }*/ }
  .container .entry-header {
    background-color: #080808;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    width: calc(100% + 500px);
    margin-left: -250px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25); }
  .container .entries-container .entry-title {
    color: #F26856;
    margin-left: 40%; }
  .container .entries-container .entry-navbar {
    display: flex;
    margin-left: 16%; }
  .container .entries-container .entry-prizePool {
    font-size: 18px;
    color: #fff;
    margin-left: 21%;
    margin-right: 21%; }
    .container .entries-container .entry-prizePool .prize-label {
      color: #F26856;
      font-size: 36px; }
  .container .entries-container .entry-enterBtn {
    padding: 6px 100px;
    font-size: 24px; }
