/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }

.container {
  width: calc(100% - 1200px) !important; }
  .container #app {
    margin-top: 100px; }
  .container .entries-container {
    text-align: center; }
    .container .entries-container .available-rewards-container {
      position: relative; }
      .container .entries-container .available-rewards-container .available-rewards-popup {
        position: absolute;
        display: none;
        bottom: 45px;
        left: 15px;
        background-color: pink;
        height: 200px;
        width: 460px; }
        .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container {
          padding-top: 20px; }
          .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance {
            display: inline-block;
            height: 100px; }
            .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description {
              background-color: navajowhite;
              display: none;
              position: absolute;
              top: 55px;
              width: 200px;
              z-index: 1;
              left: -43px;
              border-radius: 5px;
              padding: 5px;
              -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
              box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75); }
              .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description .reward-value {
                margin-bottom: 10px; }
                .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description .reward-value .reward-price {
                  color: orangered; }
              .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description .reward-link-container .reward-link {
                cursor: pointer;
                margin-right: 5px; }
    .container .entries-container .entries-content {
      height: 350px; }
      .container .entries-container .entries-content .container-title {
        font-size: 14px;
        font-weight: bold; }
      .container .entries-container .entries-content .players-container .players-list {
        height: 300px;
        overflow-y: scroll; }
      .container .entries-container .entries-content .standings-container .standing-element {
        position: relative;
        user-select: none; }
        .container .entries-container .entries-content .standings-container .standing-element .view-reward-link {
          text-decoration: underline;
          color: red;
          cursor: pointer; }
          .container .entries-container .entries-content .standings-container .standing-element .view-reward-link:before {
            content: "View Reward"; }
          .container .entries-container .entries-content .standings-container .standing-element .view-reward-link.open:before {
            content: "Hide Reward"; }
        .container .entries-container .entries-content .standings-container .standing-element .reward-popup {
          background-color: mediumpurple;
          position: absolute;
          display: none;
          bottom: 20px;
          left: 80px;
          width: 200px;
          height: 100px; }
