/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
  padding-top: 50px;
  padding-bottom: 20px; }
  body .container {
    width: auto !important; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }

.container {
  /*width: calc(100% - 1200px) !important;*/
  /*#app {
        margin-top: 100px;
    }*/ }
  .container .entries-container {
    text-align: center; }
    .container .entries-container .entry-title {
      color: darkorange; }
    .container .entries-container .clock-container {
      margin-bottom: 85px;
      background-color: #080808;
      border-radius: 0px 0px 5px 5px;
      padding: 10px;
      box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25); }
    .container .entries-container .clock-timerContainer {
      display: flex;
      margin-left: calc(50% - 268px); }
    .container .entries-container .clock-col {
      text-align: center;
      margin-right: 20px;
      margin-left: 20px;
      min-width: 50px;
      position: relative; }
    .container .entries-container .clock-startsIn {
      font-size: 32px;
      color: #fff; }
    .container .entries-container .clock-timer {
      font-size: 24px;
      color: #fff; }
      .container .entries-container .clock-timer:before {
        color: #fff;
        font-size: 4.2rem;
        text-transform: uppercase; }
    .container .entries-container .clock-label {
      color: rgba(255, 255, 255, 0.35);
      text-transform: uppercase;
      font-size: 12px;
      /*margin-top: 10px;*/ }
    .container .entries-container .available-rewards-container {
      position: relative; }
      .container .entries-container .available-rewards-container .available-rewards-popup {
        position: relative;
        display: block;
        background-color: pink;
        height: 200px;
        width: 460px; }
        .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container {
          padding-top: 20px; }
          .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance {
            display: inline-block;
            height: 100px; }
            .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-thumbnail img {
              width: 50px;
              height: 50px; }
            .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description {
              background-color: navajowhite;
              display: none;
              position: absolute;
              top: 55px;
              width: 200px;
              z-index: 1;
              left: -43px;
              border-radius: 5px;
              padding: 5px;
              -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
              box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75); }
              .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description .reward-value {
                margin-bottom: 10px; }
                .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description .reward-value .reward-price {
                  color: orangered; }
              .container .entries-container .available-rewards-container .available-rewards-popup .reward-instances-container .reward-instance .reward-description .reward-link-container .reward-link {
                cursor: pointer;
                margin-right: 5px; }
    .container .entries-container .entries-content {
      height: 350px; }
      .container .entries-container .entries-content .container-title {
        font-size: 14px;
        font-weight: bold; }
      .container .entries-container .entries-content .players-container .players-list {
        height: 300px;
        overflow-y: scroll; }
      .container .entries-container .entries-content .standings-container .standing-element {
        position: relative;
        user-select: none; }
        .container .entries-container .entries-content .standings-container .standing-element .view-reward-link {
          text-decoration: underline;
          color: red;
          cursor: pointer; }
          .container .entries-container .entries-content .standings-container .standing-element .view-reward-link:before {
            content: "View Reward"; }
          .container .entries-container .entries-content .standings-container .standing-element .view-reward-link.open:before {
            content: "Hide Reward"; }
        .container .entries-container .entries-content .standings-container .standing-element .reward-popup {
          background-color: gray;
          position: absolute;
          display: none;
          bottom: 20px;
          left: 80px;
          width: 200px;
          height: 100px; }
