/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



.container {
    width: calc(100% - 1200px) !important;

    #app {
        margin-top: 100px;
    }

    .entries-container {
        text-align: center;

        .available-rewards-container {
            position: relative;

            .available-rewards-popup {
                position: absolute;
                display: none;
                bottom: 45px;
                left: 15px;
                background-color: pink;
                height: 200px;
                width: 460px;

                .reward-instances-container {
                    padding-top: 20px;


                    .reward-instance {
                        display: inline-block;
                        height: 100px;

                        .reward-description {
                            background-color: navajowhite;
                            display: none;
                            position: absolute;
                            top: 55px;
                            width: 200px;
                            z-index: 1;
                            left: -43px;
                            border-radius: 5px;
                            padding: 5px;
                            -webkit-box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);
                            -moz-box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);
                            box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);


                            .reward-title {
                            }

                            .reward-value {
                                margin-bottom: 10px;

                                .reward-price {
                                    color: orangered;
                                }
                            }

                            .reward-link-container {
                                .reward-link {
                                    cursor: pointer;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .entries-content {
            height: 350px;

            .container-title {
                font-size: 14px;
                font-weight: bold;
            }

            .players-container {
                .players-list {
                    height: 300px;
                    overflow-y: scroll;
                }
            }

            .standings-container {
                .standing-element {
                    position: relative;
                    user-select: none;

                    .view-reward-link {
                        text-decoration: underline;
                        color: red;
                        cursor: pointer;

                        &:before {
                            content: "View Reward";
                        }

                        &.open {
                            &:before {
                                content: "Hide Reward";
                            }
                        }
                    }

                    .reward-popup {
                        background-color: mediumpurple;
                        position: absolute;
                        display: none;
                        bottom: 20px;
                        left: 80px;
                        width: 200px;
                        height: 100px;
                    }
                }
            }
        }
    }
}
