
.modal-fade {
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    background-color:#000;
    z-index: 2000;
    opacity:0.8;
    display: none;
}

#myModal {
    display:none;
}

.cont_princ_lists {
    position: absolute;
    left: 33%;
    top: 18%;
    width: 650px;
    margin-top: 15px;
    padding: 15px;
    background: linear-gradient(to bottom, #3a404d, #181c26);
    z-index: 99999;

    .tabContent {
        display: none;
    }

    #tab-players {
        display:block;
    }

    .modal-tabs {
        display: flex;
        flex-wrap: wrap;

        .modal-close {
            color: white;
        }

        .modal-button {
            margin-right: 15px;
            color: white;

            .ico-cup {
                width: 25px;
                height: 26px;
                position: relative;
                top: 3px;
                margin-right: 6px;
                vertical-align: baseline;
            }

            div {
                display: inline-block;
            }

            .modal-icon {
                display: inline-block;
            }
        }
    }

    .investors-list {
        height: 600px;

        .investor-element {
            position: relative;
            float: left;
            width: 100%;
            /*border: 1px solid white;*/
            height: 75px;
            left: 0;
            /*background-color: #F1F1EF;*/
            list-style: none;
            /*box-shadow: 1px 10px 20px 0px rgba(218, 215, 206,0.8);*/
            z-index: 2;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        }
    }

    .col_md_1_list {
        width: 125px;
        position: relative;
        float: left;
        height: 20px;
        top: 50%;
        margin-top: -10px;

        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 700;
            margin-left: 10px;
        }
    }

    .col_md_2_list {
        width: 250px;
        position: relative;
        float: left;
        margin-top: 20px;

        h4 {
            text-align: left;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: white;
        }

        p {
            text-align: left;
            font-family: 'Open Sans', sans-serif;
            font-size: 10px;
            font-weight: 700;
            color: #999;
        }
    }

    .col_md_3_list {
        width: 121px;
        position: relative;
        float: left;
        height: 14px;
        top: 50%;
        margin-top: -10px;

        .entry-btn {
            font-size: 12px;

            &.draw-border {
                box-shadow: inset 0 0 0 2px #F26856;
            }
        }

        .cont_text_date {
            text-align: right;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 700;

            p {
                text-align: right;
                margin-right: 20px;
            }
        }
    }
}

.list_dsp_none {
    display: none;
    opacity: 0;
    margin-top: 20px;
}

.list_dsp_true {
    margin: 0px;
    opacity: 1;
}


.list_work {
    z-index: 1;
}

.list_shopping > .col_md_1_list {
    border-left: 4px solid #7cfc00;
    color: #7cfc00;
}

.list_work > .col_md_1_list {
    border-left: 4px solid #2A476B;
    color: #2A476B;
}

.list_sport > .col_md_1_list {
    border-left: 4px solid #EF8A18;
    color: #EF8A18;
}

.list_music > .col_md_1_list {
    border-left: 4px solid #EE1E65;
    color: #EE1E65;
}

.list_finish_state {
    opacity: 0.3;
    margin: 15px 0px;
    z-index: 1;
}
