.panel-container {
    position: relative;
    /*width: 415px;*/
    background: linear-gradient(to bottom, #3a404d, #181c26);
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
    z-index: 40;
    color: white;

    &.rewards-container {
        /*width: 300px;
        height:200px;*/
    }

    &.prizes-container {
        padding-bottom: 15px;

        .in-game-rewards-label {
            color: rgb(242, 104, 86);
            font-size:12px;
            margin-right: 15px;
        }
    }

    .player-number {
        float: right;
        padding-top: 11px;
        margin-right: 80px;
    }

    .players-list {
        height: 404px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .standings-container {

        .no-hover {
            pointer-events: none;
        }

        .reward-price-label {
            float: right;
            margin-right: 80px;
        }
    }

    h1 {
        font-size: 18px;
        color: #e1e1e1;
        padding: 12px 13px 18px;

        & svg {
            width: 25px;
            height: 26px;
            position: relative;
            top: 3px;
            margin-right: 6px;
            vertical-align: baseline;
        }
    }

    ol {
        padding: 0px !important;
        list-style-type: none;

        .standing-element {
            position: relative;
            user-select: none;
            height: 36px;
            padding: 18px 18px 10px 50px;

            .view-reward-link {
                text-decoration: underline;
                color: red;
                cursor: pointer;

                &:before {
                    content: "View Reward";
                }

                &.open {
                    &:before {
                        content: "Hide Reward";
                    }
                }
            }

            .reward-popup {
                background-color: mediumpurple;
                position: absolute;
                display: none;
                bottom: 20px;
                left: 80px;
                width: 200px;
                height: 100px;
            }
        }

        li:nth-child(1) {
            &.elem {


                mark {
                    color: #303543;
                    font-weight: bold;

                    &::before, &::after {
                        opacity: 1;
                        border-top: 10px solid #84610b;
                    }
                }

                &::after {
                    opacity: 1;
                    background-color: #caa30f;
                    transform: scaleX(1.06) scaleY(1.03);
                }
            }
            /*&::before, &::after{
                    opacity: 1;
                }*/
        }

        li {
            position: relative;
            z-index: 1;
            font-size: 14px;
            padding: 18px 10px 18px 50px;
            cursor: pointer;
            transform: translateZ(0) scale(1.0, 1.0);
            /*&::before {
                position: absolute;
                z-index: 2;
                top: 15px;
                left: 15px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                color: #c24448;
                background: #fff;
                border-radius: 20px;
                text-align: center;
            }*/
            mark {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 18px 10px 18px 50px;
                margin: 0;
                background: none;
                color: #fff;



                &::before, &::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    left: -11px;
                    border-top: 10px solid #c24448;
                    border-left: 11px solid transparent;
                    transition: all .1s ease-in-out;
                    opacity: 0;
                    bottom: -19px;
                }

                &::after {
                    left: auto;
                    right: -9px;
                    border-left: none;
                    border-right: 10px solid transparent;
                }
            }

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 9px;
                left: 0;
                width: 100%;
                height: 100%;
                background: #fa6855;
                box-shadow: 0 3px 0 rgba(0, 0, 0, .08);
                transition: all .3s ease-in-out;
                opacity: 0;
            }
        }
        // hover
        li:hover {
            z-index: 2;
            overflow: visible;

            &::after {
                opacity: 1;
                transform: scaleX(1.06) scaleY(1.03);
            }

            & mark {
                &::before, &::after {
                    opacity: 1;
                    transition: all .35s ease-in-out;
                }
            }
        }
    }
}
