.submit-button {
    background-color: rgb(62,63,76);
    width: 220px;
    height: 60px;
    border-radius: 60px;
    color: #1fcd97;
    cursor: pointer;
    text-align: center;
    border: solid 5px #1fcd97;

    p {
        font-size: 20px;
        margin: 0;
        padding-top: 16px;
    }
}
